.image img{
  display: flex !important; 
  float: left;
  width:  200px;
  height: 300px;
  object-fit: cover;
}

.books_container{
  display: flex !important;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.single_book{
  background-color: aqua;
  border-radius: 2%;
  height: 95%;
  padding: 1em;
  margin: 0.5em;
}

