.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.social-links{
    display: flex;
    margin-bottom: 15px;
}

.social-links ul{
    display: flex;
    width: 300px;
    height: 30px;
    margin: auto;
    padding: 10PX;
}

.social-items{
    list-style: none;
}

.social-items a{
    padding: 10px 20px;
    font-size: 35px;
    color: #6cccc6;
}

.quick-links{
    display: flex;
    width: 645px;
    height: 100px;
    margin: auto;
}

.quick-links ul{
    display: flex;
}

.quick-items{
    list-style: none;
}

.quick-items a{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 17px;
    color: white;
    transition: all .25s;
}

.quick-items a:hover{
    color: blue;
}

.outter-footer{
    padding: 12px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #3f3f3f;
}




